<ion-header class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-title>
      Noticias favoritas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">

  <ion-slides *ngIf="dataLocal.arregloNoticias.length === 0" [options]="slideOpt">
    <ion-slide>
      <ion-label>No hay favoritos</ion-label>
    </ion-slide>
  </ion-slides>
    <app-list-card-noticias 
                          *ngIf="dataLocal.arregloNoticias.length > 0"
                          [enfavoritos]="true"
                          [noticias]="dataLocal.arregloNoticias">
    </app-list-card-noticias>
</ion-content>
