<ion-header class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-title>
      Encabezados
    </ion-title>
  </ion-toolbar>
  
  <ion-segment value="entertainment" scrollable mode="md" color="primary" (ionChange)="segmentChanged($event)">
    <ion-segment-button [value]="item" mode="md" *ngFor="let item of categorias">
      <ion-label style="color: aliceblue !important;" text-capitalize>{{ item }}</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content [fullscreen]="true" color="dark">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
    <app-list-card-noticias [noticias]="categorizadas"></app-list-card-noticias>
    <ion-infinite-scroll threshold="150px" position="bottom" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
